<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <title>News Scrapping</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Web Scrapping</a>
      <form class="form-inline">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Saved Articles</button>
      </form>
    </nav>

    <div class="jumbotron text-center">
      <h1>News Scrapping App</h1>
    </div>

    <div class=" row" id="showData">
      <h3 id="title"></h3>
      <p id="description"></p>
    </div>

  </div>
  <script src="./assets/home.js"></script>
</body>

</html>